
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechercher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="search-container" >
  


        <form class="form-inline">
            <input class="form-control"  [(ngModel)]="searchTerm" type="text" placeholder="Rechercher" style="height: 50px;width: 400px;margin-top: 200px;margin-left: 30%;" autofocus>
          </form>
    
          <button (click)="closeInterface()" class="close">
            <a href="/home" class="closse">X</a>
            </button>


      </div>    
</body>
</html>
   



