<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
</head>
<body>
  <app-header></app-header>
    <div class="content">
        <H2 style="font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 24px;">Product Categories</H2>
        <hr width="325px" style="margin-left: -1px;">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="products/Bowls" ><i class='fas fa-chevron-right'></i> <span style="margin-left: 10px;"></span> Bowls</a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/cutting_Board" ><i class='fas fa-chevron-right'></i> <span style="margin-left: 10px;"></span> Cutting Board</a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/Deco_Table" ><i class='fas fa-chevron-right'></i><span style="margin-left: 10px;"></span>  Deco Table</a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/kitchen_Accessories" ><i class='fas fa-chevron-right'></i> <span style="margin-left: 10px;"></span> Kitchen Accessories</a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/serving_platters" ><i class='fas fa-chevron-right'></i>  <span style="margin-left: 10px;"></span>Serving Platters </a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/spoon" ><i class='fas fa-chevron-right'></i><span style="margin-left: 10px;"></span>  Spoon</a><div style="height: 5px;"></div>
          <a class="list-group-item list-group-item-action" href="products/Table_Top" ><i class='fas fa-chevron-right'></i><span style="margin-left: 10px;"></span>  Table Top</a><div style="height: 5px;"></div>
        </div>
      </div>
</body>
</html>
