<form *ngIf="showForm" (ngSubmit)="insertData()">
    
    <div class="form-group">
      <label for="Nom_Produit">Nom Produit</label>
      <input type="text" name="nom" class="form-control" [(ngModel)]="produit.nom">
    </div>
    <div class="form-group">
        <label for="Nom_Produit">Référence</label>
        <input type="text" name="reference" class="form-control" [(ngModel)]="produit.reference">
      </div>
    <div class="form-group">
      <label for="Prix_Produit">Prix_Produit</label>
      <input type="number" name="prix" class="form-control" [(ngModel)]="produit.prix">
    </div>
    <div class="form-group">
        <label for="image">image produit</label>
        <input type="file" name="image" (change)="onFileSelected($event)" [(ngModel)]="produit.image">
      </div>
    <div class="form-group">
      <label for="Quantite_stocke">Quantite de stocke</label>
      <input type="text" name="qt_stock" class="form-control" [(ngModel)]="produit.qt_stock">
    </div>
    <div class="form-group">
        <label for="Dimension">Dimension</label>
        <input type="text" name="dimension" class="form-control" [(ngModel)]="produit.dimension">
      </div>
    <button class="btn btn-dark btn-sm mt-4">submit</button>
    </form>
    <button class="btn btn-dark btn-sm mt-4" (click)="openCreateModal()">+ New</button>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Référence</th>
            <th scope="col">Prix</th>
            <th scope="col">Image</th>
            <th scope="col">Quantité stocké</th>
            <th scope="col">Dimension</th>
            <th scope="col">Actions</th> 
    
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let prod of produits">
            <th scope="row">{{prod.id_prod}}</th>
            <td>{{prod.nom}}</td>
            <td>{{prod.reference}}</td>
            <td>{{prod.prix}}</td>
            <td>{{prod.image}}</td>
            <td>{{prod.qt_stock}}</td>
            <td>{{prod.dimension}}</td>
            <td>
              <button class="btn btn-warning"><i class="fas fa-edit" (click)="openUpdateModal(prod)" ></i> <!-- Icône de mise à jour -->
              </button>
    
              <button class="btn btn-danger mx-2"><i class="fas fa-trash" (click)="deleteData(prod.id_prod)"></i> <!-- Icône de suppression -->
              </button>
            </td>
          </tr>
        </tbody>
      </table> 
