<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <app-header></app-header>


    <div class="bloc1">
        <div class="image-container">
            <img src="assets/img/nov-img/p3-c.jpg" alt="usine" class="usine">
            <div class="separator"></div>
        </div>
        <div class="text-container">
            <div class="txt">
                <h1 class="titre">About Us: Olive Wood</h1>
                <p align="justify">
                    OLIVAWOOD is a Factory using Olive Wood to produce items for kitchen & table, furniture, decor and gift items. We are based in Sousse city in the center of Tunisia, where the olive trees are abundant. We are using more than 7600 M2 for production. We are in treatment and supply of olive wood since 1988. Our experience and know- how are source of our success. Today we are able to produce, supply and satisfy large customer orders, fast and in high quality. We produce upon customer request, design and models.
                </p>
                <br>
                <button type="button" class="btn btn-warning" style="background-color: #998c17;"><p class="boutton">
                    <a href="contact" style="text-decoration: none;color: #fff;">Contact Us</a>
                    
                </p></button>
            </div>
        </div>
        
    </div>
    

<br><br><br>










    <div class="yellow">
        <br><br><br><br><br>
        <p  class="discover1">We are using more than 7600 M2 for production</p>
        <div class="sel">
        
            <h3 class="our-product1">About  </h3>
            <div class="div-selection1">
                <p >Olivawood</p>
            </div>
        </div>
        <p class="discover1">OLIVAWOOD  is a Factory using olive wood to produce items for kitchen & table, furniture, decor and gift items. </p>
        <p class="discover1">we are based is Sousse city in the center of Tunisia, where the olive trees are abundent. We are using more  </p>
        <p class="discover1">than 7600 M2 for production.</p>
        
        
        <br><br>
        <div class="threediv">
            <div>
                <div>
                    <div class="lign">
                        <a href="#" class="icon"><i class='fas fa-chart-bar' style='font-size:29px'></i> </a>
                        <div class="espace"></div>
                    <h2>
                        <a href="#" class="titlee">Business Growth</a>
                        
                    </h2>
                    </div>
                    <h5 class="des">Our factory is the biggest and the top developed factory of olive wood produce in all Tunisia.</h5>
                </div>
                
            </div>
        
            <div>
                <div>
                    <div class="lign">
                        <a href="#" class="icon">
                            <i class='fab fa-connectdevelop' style='font-size:29px'></i></a>
                        <div class="espace"></div>
                        <h2>
                            <a href="#" class="titlee">Business Sustainability</a>
                         </h2>
                    </div>
                    <h5 class="des">We are in treatment and supply of olive wood since 1988.</h5>
                </div>
                
            </div>
        
            <div>
                <div>
                    <div class="lign">
                        <a href="#" class="icon"><i class='fas fa-tachometer-alt' style='font-size:29px'></i> </a>
                        <div class="espace"></div>
                    <h2>
                        <a href="#" class="titlee">Business Performance</a>
                    </h2>
                    </div>
                    <h5 class="des">We do use Band saw Mill, the top high technology of wood cutting – Made in USA</h5>
                </div>    
            </div>
            
        </div>
        
        </div>
<br><br><br>
        <div class="barre">
            <h3 class="discover">Machinery & Characteristics</h3>
            <div class="sel">
                <img src="assets/img/moins-la-ligne-droite-horizontale.png" alt="" class="ligne">
                <p class="our-product">The </p>
                <div class="div-selection">
                    <p >Machinery</p>
                </div>
            </div>
            
            <p class="gris">“ The olive is a species of a small tree in the family Oleaceae, native to the coastal areas of the eastern Mediterranean Basin (the adjoining coastal areas of southeastern Europe, western Asia and northern Africa).
<br><br>
                OLIVE WOOD is hard, heavy and strong with high overall density.
                <br>
                OLIVE WOOD IS PERFECT FOR KITCHEN AND DECOR USES. A BOARD COULD LAST FOR YEARS .
                <br><br>
                Olive wood is abundant in Tunisia, but the sizes of panels are small (max diameter is 100 cm, max length is 150cm) 100% OF OLIVE WOOD LOGS WE ARE USING IN OUR PRODUCTUION ARE FROM TREES THAT ARE NO MORE PRODUCTIF.</p>
            </div>



<div class="separator">
<br><br><br>
</div>
            
    <div class="bloc1">
        <div class="image-container">
            <img src="assets/img/nov-img/imm.jpg" alt="usine" class="usine">
            <div class="separator"></div>
        </div>
        <div class="text-container1">
            <div class="txt">
                <h1 class="titre">Band</h1>
                <p align="justify1">
                    Band saw Mill, the top high technology of wood cutting – Made in USA Able to cut 5 Tons a day
<br><br><br>
6 band saw and 8 lathes , different technology
                </p>
                <br>
                <h1 class="titre">Curving machine and cutter</h1>
                <p align="justify1">
                    3 curving machines for special works and 2 Horizontal cutter machines for Furniture works
<br><br>

                </p>

                <h1 class="titre">
                    Polishing and finishing machines</h1>
                <p align="justify1">
                    22 polishing and finishing machines and many other wood tools, as bench driller, etc…
<br><br>

                </p>
            </div>
        </div>
        
    </div>

<br>
    
    <app-footer>

    </app-footer>
</body>
</html>





