
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Oliva wood</h4>
                <ul>
                    <li class="parag">OLIVAWOOD is a Factory using Olive Wood to produce items for kitchen & table, furniture, decor and gift items. We are based in Sousse city in the center of Tunisia, where the olive trees are abundant.</li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>
                    Our Range</h4>
                <ul>
                    <li><a href="#">The art of the kitchen</a></li>
                    <li><a href="#">Design & Deco</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact </a></li>
                   
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact </h4>
                <ul>
                    <li><a href="#">Olivawood | Sousse Tunisia</a></li>
                    <li><a href="#">Tel. : +216 31 145 400</a></li>
                    <li><a href="#">Fax : +216 73 330 955</a></li>
                    <li><a href="#">Mobile : +216 55 854 802</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="Copyright">Copyright © 2024 Oliva Wood | Powered by PUBA Agency</h3>
</footer>



