<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <br>
    <div class="barre">
        <h3 class="discover">Contact Us</h3>
        <div class="sel">
            <img src="assets/img/moins-la-ligne-droite-horizontale.png" alt="" class="ligne">
            <p class="our-product">OlivaWood </p>
            <div class="div-selection">
                <p >Contact</p>
            </div>
        </div>
        
        <p class="gris">Contact us for any request for information or quote.
 </p>
        </div>
    <<app-footer>

    </app-footer>
</body>
</html>