.sel{
    display: flex;
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
}

.discover{
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
    color: #998c17;
    font-weight: 500;
}
.sel{
    display: flex;
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
}
.ligne{
    width: 60px;
    height: auto;
    margin: 12px;
    margin-top: -2px;
}
.our-product{
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
    color: black;
    font-size: 35px;
   font-weight: 900;
   margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div-selection{
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
background-color: #998c17;
font-size: 30px;
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 160px;
color: white;
}

.gris{
    align-items: center; /* Centre verticalement les enfants */
    justify-content: center; /* Centre horizontalement les enfants */
    text-align: center; /* Centre le texte horizontalement */
    color: rgb(127, 122, 122);
    width: 70%;
    display: flex;
    margin-left: 15%;

}
.barre{
    margin-top: -450px;
}